<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1C3D7F">
    <a class="navbar-brand" href="#">VII</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tratamiento de Datos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['proyecciones']" href="#">Analisis Demográfico</a>
            <a class="dropdown-item" [routerLink]="['antecedentes']" href="#">Indice de Riesgos</a>
            <a class="dropdown-item" href="#"[routerLink]="['tabladatos']">Datos Sociodemograficos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"[routerLink]="['selectvariables']">Seleccion de Variables</a>
            <a class="dropdown-item" href="#"[routerLink]="['selctgraficos']">Seleccion de Graficos</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="true">
          <a class="nav-link disabled" [routerLink]="['admin']" href="#">Admin</a>
        </li>
      </ul>
      <span class="navbar-text">
          <button mat-raised-button [routerLink]="['logscreen']"style="background-color: #8C8C2A">Iniciar Sesion</button>

          <!-- <button (click)="logOut()" 
          *ngIf="false"
          type="button"
          class="btn btn-outline-primary btn-sm">
          Cerrar Sesion</button> -->
        
        </span>
    </div>
  </nav>