<br>
<br>

<div class="container containerBkg mat-elevation-z8 ">
 
    <mat-toolbar style="background-color:#3B6D91">
        <span class="fill-remaining-space">Iniciar Sesion </span>
      </mat-toolbar>
    <br>
<div class="example-container margin">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email"  [(ngModel)]="login.username" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <br>
  <mat-divider></mat-divider>
  <br>
  <div class="example-container margin">
  <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="login.password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field> 
    <div><button mat-raised-button 
                 style="margin-left:20%; background-color: #C5CAE9"
                 (click)="SendUser(element)">
      Iniciar Sesion </button></div>
   <br>
   </div>
  
</div>



