<!-- <div>implenetacion en: https://github.com/amcharts/amcharts3-angular2</div> -->

<!-- <div class="container" *ngFor="let item of dataDB; let i=index">{{item}}</div> -->
<div  [id]="chartNumber" [style.width.%]="100" [style.height.px]="500"></div>

<!-- <ngb-carousel>
        <ng-template ngbSlide>
           
          
          <div class="carousel-caption">
            <h3>10 seconds between slides...</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img  alt="Random second slide">
          <div class="carousel-caption">
            <h3>No keyboard...</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img  alt="Random third slide">
          <div class="carousel-caption">
            <h3>And no wrap after last slide.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
      </ngb-carousel> -->
