<div class="container" style="margin-top:50px">
  <div class="container-fluid">
    <h1>Administrar Usuarios</h1>
  </div>

  <mat-divider></mat-divider>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="material-icons" style="color:#3B6D91">assignment_ind</i>
          Registar Usuario
        </mat-panel-title>
        <mat-panel-description>
          <i class="material-icons" style="color:#3B6D91">assignment</i>
          Nombre, usuario, correo, rol.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Nombres" [(ngModel)]="UserRegister.name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Usuario"  [(ngModel)]="UserRegister.username">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Correo" [(ngModel)]="UserRegister.email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Rol" [(ngModel)]="UserRegister.rol">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contraseña" [(ngModel)]="UserRegister.passwd">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder=" Confirmar Contraseña" [(ngModel)]="UserRegister.confirmpasswd"  >
        </mat-form-field>
      <button mat-mini-fab (click)="resgUser()"color=''>
          <i class="material-icons md-36 "style="color:#3B6D91">backup</i>
      </button>

      
    </mat-expansion-panel>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="material-icons" style="color:#3B6D91">mode_edit</i>
          Editar Usuarios
        </mat-panel-title>
        <mat-panel-description>
            Nombre, usuario, correo, rol.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
          <input matInput placeholder="Nombres" [(ngModel)]="UserEdit.name">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Usuario"  [(ngModel)]="UserEdit.username">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Correo" [(ngModel)]="UserEdit.email">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Rol" [(ngModel)]="UserEdit.rol">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contraseña" [(ngModel)]="UserEdit.passwd">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder=" Confirmar Contraseña" [(ngModel)]="UserEdit.confirmpasswd"  >
          </mat-form-field>
        <button mat-mini-fab (click)="resgUser()" color='' >
          <i class="material-icons md-36 "style="color:#3B6D91">backup</i>
        </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>