.example-container {
    display: flex;
    flex-direction: column;
    min-width: 700px;
  }
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  .mat-table {
    overflow: auto;
   max-height: 800px;
  }
  .mat-form-field {
    font-size: 20px;
    width: 50%;
    
  }
  .mat-row, .mat-header-row{
    min-width: 3700px;
  
    flex: 0 0 5%
  }
  span {
    padding-right: 50px;
}