<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<h1>
    <br>
    <br>
    <br>
    <br>
    <img src="/assets/img/BankVision.png" class="img-fluid centered" alt="Responsive image">
    <br />
    <span>Made by
        <a href="https://www.bankvision.com/" target="_blank">&copy; BankVision</a>
    </span>
</h1>

<video autoplay loop id="video-background" muted plays-inline>
        <!-- <source src="/assets/homevid.mp4"
        type="video/mp4"> -->
    <source src="/assets/video/lake.mp4"
        type="video/mp4">
</video>



<!-- <footer class="card-footer text-dark text-center"  style="background-color: #69F0AE">
    &copy; BankVision
</footer> -->