.example-container {
    display: flex;
    flex-direction: column;
    min-width: 900px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 900px;
  }
  .mat-form-field {
    font-size: 20px;
    width: 90%;
  }
  
  
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }