

<div class="container-fluid">
<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Nombar Variable</ng-template>
      <mat-form-field>
        <input placeholder="Nombre Variable"  formControlName="firstCtrl" required matInput [formControl]="myControl" [(ngModel)]="cargaVariables.name" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Siguiente<i class="material-icons">navigate_next</i></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Parametrizar Variable</ng-template>
      <mat-form-field>
        <input matInput placeholder="Parametros" [(ngModel)]="cargaVariables.qname" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>Atras</button>
        <button mat-button matStepperNext color=success>Siguiente<i class="material-icons">navigate_next</i></button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Agregar</ng-template>
    Agregar Variable?
    <div>
      <br>
      <button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>Atras</button>
      <button mat-button (click)='AgregarVariable()'>Guardar <i class="material-icons">check</i></button>
      <button mat-button color=accent (click)="stepper.reset()">Limpiar<i class="material-icons">close</i></button>

    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>

<div class="container-fluid">
<div class="mat-elevation-z8" class="mat-form-field">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Nombre Column -->
    <ng-container matColumnDef="NombreCampo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Campo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombrec}} </mat-cell>
    </ng-container>

      <!-- Parameter Column -->
      <ng-container matColumnDef="Parametros">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Parametros </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombreq}} </mat-cell>
        </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="NombreQuery">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Query </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombreq}} </mat-cell>
    </ng-container>

    <!--Borrar Column -->
    <ng-container matColumnDef="Borrar">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Borrar Campo </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)='deleteItem(element.id)'>
          <i class="material-icons">delete</i>
        </button>
      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>
</div>