<img class="background fondo" alt="">

<br>
<div class="container-fluid">
  <mat-card class="container containerBkg mat-elevation-z8 ">
    <mat-toolbar class='positionABS' style="background-color: #1C3D7F; font: Helvetica">
      <span class="fill-remaining-space" style="color: rgb(255, 255, 255)">Carga de Archivos </span>
    </mat-toolbar>
    <br>



    <div class="text-center">

      <button mat-raised-button (click)="FileInput.click()">Buscar Archivo
        <i class="material-icons" style="z-index: 4;">search</i>
      </button>
      <input hidden type="file" #FileInput (change)="uploadFile($event)" />
      <input type="text" placeholder="Selccionar Archivo" [value]="fileShow" disabled="false">
     
      <mat-form-field>
        <mat-select placeholder="Variable a Asociar" [(ngModel)]="selectedValue" >
          <mat-option *ngFor="let list of varList" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Numero de Columna"  [(ngModel)]="selecteCol">
      </mat-form-field>
 <button mat-raised-button (click)="sendData()">Cargar</button>


      <table class="table">
        <thead class="thead=dark">
          <tr>
            <th>Nombre Archivo</th>
            <th>Tamaño</th>
            <th>Asociar a Columna</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archivo of fileinServ; let i =index ">
            <td>{{i+1}}.{{fileinServ[i].Name}}</td>
            <td> {{archivo.size/1024}}</td>
            <td>
            {{archivo.Aso}}
            </td>
            <td>
              <button mat-icon-button (click)="deleteFile(archivo.Id)">
                <i class="material-icons">delete</i>
              </button>

            </td>
          </tr>
        </tbody>


      </table>

    </div>







  </mat-card>
</div>