.card-graphic-columns {
   column-count: 1;
  }
  .scroll-box {
    overflow-y: scroll;
    height: 150px;
    padding: 1rem
}

.mat-tab-label {
  min-width: 33% !important;
  min-height: 300px;
  padding: 5px;
  background-color:transparent;
  color: black;
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 33%!important;
  
  padding: 5px;
  background-color: transparent;
  color:black;
  font-weight: 700;
}